@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Kavivanar&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
   
}
.nav-header{
   margin-left: 30%;
   font-family: 'Kavivanar',cursive;
    font-weight: 600;
    color: white;
   letter-spacing: 0.3rem;
}
.nav-link{
    font-size: 0.9rem;
    font-weight: bold;
}
.navbar{
    padding: 0 !important;
    background-color: rgba(80, 80, 77, 0.904);
    border: none;
}
.navbar-brand{
    width: 40px;
    height: 40px;
    padding: 0 !important;
    margin: 0 !important;
}
.fa-list{
    color: white;
}
.navbar-toggler{
    border: none;
    outline: none;
}
.navbar-toggler:focus{
    border: none;
    outline: none;
}
.background-img{
    width: 100%;
    height: 91vh;
    overflow: hidden;
   
}
.background-img img{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.472),rgba(14, 13, 13, 0.37),rgba(19, 18, 18, 0.452)),url('https://www.collectorbazar.com/images/products/india-special-cover-100-years-of-indian-cinema-kannadasan-2013-f1269-125656-1.jpg');
    background-size: cover;
    height: 100%;
}

  /* nav tabs  */
  .nav-tab{
      background-color: rgb(43, 43, 46);
  }
  .nav-tab .nav-link{
      color: rgb(255, 254, 254);
      font-size: 1.3rem;
      font-weight: bold;
      opacity: 0.4;
  }
  .nav-tab .active{
      background-color:rgba(231, 225, 225, 0.377);
      opacity: 1;
  }
 
  /* tab content */
  .tab-content{
      background-color: rgb(220, 221, 219);
  }
  .image{
      width: 300px;
      height: 400px;
      margin-left:35%;
  }
  .table{
      margin-left: 20%;
      width: 800px !important;
  }
  th,td{
      border: 2px solid black;
      border-top: 2px solid black !important;
  }
  .tab-pane h2,.tab-pane h3{
    border-bottom: 1px solid black;
  }
  /* books sections  */
  .books-sections{
      background-color: rgb(230, 233, 227);
  }
  .books-sections h2,.books-sections h3{
      border-bottom: 2px solid rgb(92, 90, 90);
      text-transform: capitalize;
      color: rgb(93, 90, 90);
      padding-bottom: 7px;
  }
  /*  videos sections */
  .iframes{
     margin: 10px;
     width: 350px;
     height: 250px;
  }
  .video-contain{
      background-color: rgb(224, 224, 223);
  }
  .padalgal{
      font-size: 2rem;
      font-weight: bold;
      font-family: 'Kavivanar',cursive;
  }


  /* award section */
  .award-section{
      background-color: rgb(243, 239, 236);
  }
  .national-award h2,.acting-movies h2{
        border-bottom: 2px solid gray;
        color: rgb(58, 57, 56);
  }
  footer{
    width: 100%;
    height: 140px;
    background-color: rgb(64, 68, 68);
   
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .social-media{
      margin-top: 20px;
  }
  .social-media a{
      font-size: 1.6rem;
      color: white;
      margin: 10px 20px;
  }
  .copyrights p{
      font-size: 1rem;
    letter-spacing: 0rem;
      color: white;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 5px;
  }
  .copyrights small{
      color: white;

  }
@media screen and (max-width:480px){
    .background-img{
        width: 100%;
        height: 30vh;
        overflow: hidden;
       
    }
    .nav-header{
       margin-left:0;
        font-family: 'Kavivanar',cursive;
         font-weight: 600;
         color: white;
         font-size: 0.9rem;
        letter-spacing: 0rem;
     }
     .navbar{
         padding: 0 !important;

     }
     .navbar-nav{
         margin-top: 100px;
     }
     .navbar-collapse{
         width: 100% !important;
         height: 568px !important;
         background: linear-gradient(200deg,rgb(31, 30, 30),rgb(153, 151, 151));
        
        
     }
     .navbar-collapse .nav-item .nav-link{
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        align-items: center;
        text-align: center;
        margin-left: 19% !important;
        margin-top: 10px !important;
        border-bottom: 2px solid rgba(179, 174, 174, 0.274);
        padding: 0 !important;
        font-weight: 400;

     }
     .nav-item{
       
     }
     .navbar-brand{
         width: 40px;
         height: 40px;
         padding: 0 !important;
         margin: 0 !important;
     }
     .image{
        width: 200px;
        height: 250px;
        margin-left:20%;
    }
    .table{
        margin-left: 0%;
        width: 100% !important;
        padding: 0 !important;
    }
    th,td{
        border: 1px solid black;
        border-top: 1px solid black !important;
        font-size: 0.8rem;
    }
    .nav-tab{
        background-color: rgb(43, 43, 46);
    }
    .nav-tab .nav-link{
        color: rgb(255, 254, 254);
        font-size: 0.8rem;
        font-weight: 500;
        opacity: 0.4;
    }
    .nav-tab .active{
        background-color:rgba(231, 225, 225, 0.377);
        opacity: 1;
    }
    .books-sections h2,.books-sections h3{
      border-bottom: 2px solid rgb(92, 90, 90);
        font-size:1.4rem;
      text-transform: capitalize;
      color: rgb(93, 90, 90);
      padding-bottom: 4px;
  }
    .iframes{
        margin: 4px 5px 6px 4px;
        width: 100%;
        height: 200px;
     }
   
     .padalgal{
         font-size: 1.5rem;
         font-weight: bold;
         font-family: 'Kavivanar',cursive;
     }
     p{
         font-size: 0.8rem;
     }
    
     .national-award h2,.acting-movies h2{
         font-size: 1.3rem;
     }
     .national-award ol li,.acting-movies ol li{
         font-size: 0.8rem;
     }
     .btn-secondary{
         padding: 0 7px !important;
     }
     .social-media a{
        font-size: 1.2rem;
        color: white;
        margin: 10px 16px;
    }
    .copyrights p{
        font-size: 0.8rem;
        color: white;
        font-weight: 400;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .copyrights small{
        color: white;
    }
    footer{
        width: 100%;
        height: 100px;
        background-color: rgb(64, 68, 68);
       
      }
}
@media screen and (min-width:481px) and (max-width:768px){
    .background-img{
        width: 100%;
        height: 40vh;
        overflow: hidden;
       
    }
    .nav-header{
       margin-left:0;
        font-family: 'Kavivanar',cursive;
         font-weight: 600;
         color: white;
         font-size: 1.2rem;
        letter-spacing: 0.2rem;
     }
     .navbar{
         padding: 0 !important;

     }
     .navbar-nav{
         /* margin-top: 100px; */
     }
     .navbar-collapse{
         /* width: 100% !important;
        
         background: linear-gradient(200deg,rgb(31, 30, 30),rgb(153, 151, 151));
         */
        
     }
     .navbar-collapse .nav-item .nav-link{
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        align-items: center;
        text-align: center;
        margin-left: 10% !important;
        margin-top: 10px !important;
        border-bottom: 2px solid rgba(179, 174, 174, 0.274);
        padding: 0 !important;
        font-weight: 400;

     }
     .nav-item{
       margin-left: 10px;
     }
     .navbar-brand{
         width: 40px;
         height: 40px;
         padding: 0 !important;
         margin: 0 !important;
     }
     .image{
        width: 200px;
        height: 250px;
        margin-left:30%;
    }
    .table{
        margin-left: 0%;
        width: 100% !important;
        padding: 0 !important;
    }
    th,td{
        border: 1px solid black;
        border-top: 1px solid black !important;
        font-size: 0.9rem;
    }
    .nav-tab{
        background-color: rgb(43, 43, 46);
    }
    .nav-tab .nav-link{
        color: rgb(255, 254, 254);
        font-size: 0.9rem;
        font-weight: 500;
        opacity: 0.4;
    }
    .nav-tab .active{
        background-color:rgba(231, 225, 225, 0.377);
        opacity: 1;
    }
    .iframes{
        margin: 4px 5px 6px 4px;
        width: 100%;
        height: 300px;
     }
   
     .padalgal{
         font-size: 1.5rem;
         font-weight: bold;
         font-family: 'Kavivanar',cursive;
     }
     p{
         font-size: 0.9rem;
     }
    
     .national-award h2,.acting-movies h2{
         font-size: 1.3rem;
     }
     .national-award ol li,.acting-movies ol li{
         font-size: 0.9rem;
     }
     .btn-secondary{
         padding: 2px 10px !important;
     }
     .social-media a{
        font-size: 1.3rem;
        color: white;
        margin: 10px 16px;
    }
    .copyrights p{
        font-size: 0.8rem;
        color: white;
        font-weight: 400;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .copyrights small{
        color: white;
    }
    footer{
        width: 100%;
        height: 100px;
        background-color: rgb(64, 68, 68);
       
      }
}
